@import '../../../scss/variables.scss';

.bookitem {
  border: 2px solid $border;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
}

.update {
  font-size: 16px;
}

.title {
  cursor: pointer;
}

.leftSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authors {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.authorsTitle {
  margin-right: 10px;
}
