@import '../../scss/variables.scss';

.bookview {
}

.commentListTitle {
  margin-bottom: 10px;
}

.wrapper {
  border: 1px solid $border;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  word-break: break-word;
  margin-bottom: 10px;
}

.description {
  word-break: break-word;
}
